.container {
    background-color: #191919;
    width: 70%;
    height: auto;
    padding: 1%;
    margin: 0% 15% 5%;
    border: 3px solid royalblue;
}

.paper {
    margin: 10% 10% 15%;
    border-bottom: 8px solid #333;
}

.paper > p {
    font-size: 20px;
    line-height: 200%;
}

#title {
    color: royalblue;
    font-size: 29px;
    text-align: center;
    padding-bottom: 3%;
}

#abstract {
    font-size: 25px;
}