.container {
    background-color: #191919;
    width: 80%;
    height: auto;
    padding: 1%;
    margin: 0% 10% 5%;
    border: 3px solid royalblue;
}

.job {
    margin: 10% 10% 15%;
    border-bottom: 8px solid #333;
    font-size: 20px;
}

ul {
    list-style-type: circle;
    line-height: 200%;
}

#title {
    color: royalblue;
    font-size: 40px;
}

@media (max-width: 768px) {
    .job {
        font-size: clamp(0.9rem, 2vw, 1rem);
        margin: 5% 5% 10%;
    }
    #title {
        color: royalblue;
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
}