.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "songs content";
  grid-template-columns: 35% 60%;
  column-gap: 5%;
}

.grid div.header {
    font-family: Arial, sans-serif;
    grid-area: header;
    text-align: center;
}

.grid div.songs {
    grid-area: songs;
}

.grid div.content {
    border: 0.2rem solid black;
    border-radius: 10%;
    grid-area: content;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 25px;
    text-align: justify;
    line-height: 2rem;
    background-color: rgba(65, 105, 225, .67);
}
