.container {
  display: grid;
  grid-template-areas:
    "header header"
    "title blank"
    "songs content";
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
}

.container div.header {
    font-family: Arial, sans-serif;
    grid-area: header;
    text-align: center;
}

.container div.songs {
    grid-area: songs;
}

.container div.content {
    border: 0.4rem solid royalblue;
    border-radius: 10%;
    grid-area: content;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 25px;
}
