/* ROOT VARIABLES */
:root {
    --music-height: 10rem;
    --grid-gap: 3%;
    --container-padding: 1rem;
    --container-border: 0.2rem;
    --content-padding: 1.5rem;
    --content-radius: 1rem;
    --line-height: 2.4rem;
    --title-font-size: clamp(1rem, 5vw, 3rem);
    --job-font-size: 1.2rem;
    --font-family: "Geist", sans-serif;
}

h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 1rem 0;
}

p {
    margin-bottom: -0.5rem;
}

/* Hover Details*/
.item {
    position: relative;
    width: 40%;
    height: 4vw;
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    line-height: 4vw;
    cursor: pointer; 
    align-items: center;
}

.item::after {
    content: attr(hoverText);
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: max-content;
    transform: translateX(-50%) translateY(-8px);
    background-color: #333;
    color: #fff;
    border-radius: 12px;
    font-size: 1.2vw;
    padding: 0px 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    visibility: hidden;
}

.item:hover::after {
    opacity: 1;
    visibility: visible;
}

/* GRID LAYOUT */
.grid {
    display: grid;
    grid-template-areas:
        "songs context";
    grid-template-columns: 40% 60%;
    column-gap: var(--grid-gap);
    margin-bottom: 0rem;
}

.grid div.header {
    font-family: var(--font-family);
    grid-area: header;
    text-align: center;
    font-size: var(--title-font-size);
    margin-bottom: 0.5rem;
}

.grid div.songs {
    grid-area: songs;
    font-size: 2rem;
    line-height: 3rem;
}

.grid div.context {
    grid-area: context;
    font-family: var(--font-family);
    border: var(--container-border) solid black;
    border-radius: var(--content-radius);
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    text-align: justify;
    padding: var(--content-padding);
    line-height: var(--line-height);
    background-color: rgb(25, 25, 25, 0.85);
    margin: 0 auto 2rem auto;
}

/* CONTAINER */
.container {
    background-color: rgb(25, 25, 25, 0.85);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: var(--container-padding);
    margin: 0 auto 2rem auto;
    border-right: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
    border-radius: 1rem;
    padding: 5% 5% 0%;
}

#centered-items {
    display: flex;
    justify-content: center;
}

/* Title */
.title {
    font-family: var(--font-family);
    text-align: center;
    font-size: var(--title-font-size);
    background-color: rgb(25, 25, 25, 0.85);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding: var(--container-padding);
    margin: 4rem auto 1rem auto;
    border: 0.2rem solid black;
    border-radius: 4rem;
}

.container-title {
    color: royalblue;
    font-size: clamp(2rem, 5vw, 2.5rem);
}

/* JOB SECTION */
.job {
    margin-bottom: 5%;
    border-bottom: 0.5rem solid #333;
    font-size: var(--job-font-size);
}

/* Lists */
ul {
    list-style-type: circle;
    line-height: 2rem;
    padding-left: 1.5rem;
}

/* Job Grid */
#job-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    column-gap: 1rem;
}

#job-grid div.left {
    grid-area: left;
    text-align: left;
}

#job-grid div.right {
    grid-area: right;
    text-align: right;
}

.song-iframe {
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: -0.5rem;
    height:var(--music-height);
}

.video-iframe {
    width: 1fr;
    aspect-ratio: 16/9;
    border-radius: 5%;
    margin: 1rem 5% 1rem 5%;
}

/* Mobile */
@media (max-width: 768px) {
    .item {
        font-size: 0.6rem;
    }

    .grid {
        grid-template-areas:
            "songs"
            "context";
        grid-template-columns: 100%;
    }

    #job-grid {
        grid-template-columns: 100%;
        grid-template-areas:
            "left"
            "right";
    }

    .grid div.context {
        padding: 1rem;
        font-size: clamp(0.9rem, 2vw, 1.1rem);
    }

    .grid div.songs {
        padding: 1rem;
        font-size: clamp(0.9rem, 2vw, 1.1rem);
    }

    .container {
        width: 90%;
        padding: 0.75rem;
    }

    .title {
        padding: calc(var(--container-padding)/2);
        font-size: 1.2rem;
        width: 60%;
        margin: 1rem auto 0.5rem auto;
    }

    .container-title {
        font-size: 1.2rem;
    }

    .job {
        font-size: clamp(0.9rem, 2vw, 1rem);
        margin: 5% 5% 10%;
    }

    h1 {
        font-size: 2rem;
        margin: -1rem;
    }
}