.container {
    background-color: #191919;
    width: 70%;
    height: auto;
    padding: 1%;
    margin: 0% 15% 5%;
    border: 3px solid royalblue;
}

.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "content content";
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
}

.grid div.header {
    font-family: Arial, sans-serif;
    grid-area: header;
    text-align: center;
}

.grid div.content {
    border: 0.4rem solid royalblue;
    border-radius: 10%;
    grid-area: content;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 25px;
}