:root {
    --button-time: 0.4s; /* Legend button animation*/
    --item-border-radius: 1.25vw;
    --legend-border-width: 0.7vw;
}

.centered-large-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: underline royalblue;
    font-size: 4vw;
}

.list {
    display: flex;
    flex-direction: column;;
}
  
.semester {
    min-width: 15vw;
    font-weight: bold;
    font-size: 2vw;
    line-height: 5.5vw;
    aspect-ratio: 2.5/1;
    align-items: center;
}

.row {
    display: flex;
    gap: 1vw;
    align-items: center;
} 

/*Course container*/
.item {
    position: relative;
    width: 7vw;
    height: 4vw;
    font-size: 1vw;
    align-self: center;
    text-align: center;
    line-height: 4vw;
    cursor: pointer; 
    align-items: center;
    border-radius: var(--item-border-radius);
    border-bottom: royalblue 0.5vw solid;
}

.item::after {
    content: attr(hoverText);
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: max-content;
    transform: translateX(-50%) translateY(-8px);
    background-color: #333;
    color: #fff;
    border-radius: var(--item-border-radius);
    font-size: 1.2vw;
    padding: 0px 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    visibility: hidden;
}

.item:hover::after {
    opacity: 1;
    visibility: visible;
}

.legend {
    position: relative;
    font-size: 2vw;
    height: 7vw;
    width: auto;
    display: flex;
    gap: 1vw;
    margin: -2vw 3vw 2vw;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.legend > div {
    height: 100%;
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: visible;
}

.honors {
    background-color: darkgoldenrod;
    visibility: visible;
}

.honors.hide {
    display: none;
    visibility: hidden;
}

.compsci {
    background-color: darkcyan;
    visibility: visible;
}

.compsci.hide {
    display: none;
    visibility: hidden;
}

.maths {
    background-color: darkslateblue;
    visibility: visible;
}

.maths.hide {
    display: none;
    visibility: hidden;
}

.physics {
    background-color: darkmagenta;
    visibility: visible;
}

.physics.hide {
    display: none;
    visibility: hidden;
}

.electives {
    background-color: brown;
    visibility: visible;
}

.electives.hide {
    display: none;
    visibility: hidden;
}

.teaching {
    background-color: darkgreen;
    visibility: visible;
}

.teaching.hide {
    display: none;
    visibility: hidden;
}

.legend-button {
    border-bottom-style: solid;
    border-bottom-color: royalblue;
    border-bottom-width: var(--legend-border-width);
    background-color: var(--legend-color);
    border-radius: var(--item-border-radius);
    transition: transform var(--button-time), border-bottom-width var(--button-time);
}

.legend-button.off {
    border-bottom-width: 0px;
    background-color: black;
    transform: translateY(calc(var(--legend-border-width) / 2));
}

#teaching-legend { --legend-color: darkgreen; }
#electives-legend { --legend-color: brown; }
#maths-legend { --legend-color: darkslateblue; }
#compsci-legend { --legend-color: darkcyan; }
#honors-legend { --legend-color: darkgoldenrod; }
#physics-legend { --legend-color: darkmagenta; }
