:root {
    --button-time: 0.4s /* Legend button animation*/
}


.container {
    background-color: #191919;
    width: 90%;
    height: auto;
    padding: 1%;
    margin: 0% 5% 5%;
    border: 3px solid royalblue;
}

.container > p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5% 0% -2%;
}

.head {
    text-align: center;
    font-size: 50px;
    background-color: #191919;
    width: 50%;
    height: auto;
    padding: 1%;
    margin: 0% 25% 5%;
    border: 3px solid royalblue;
}

.school {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.title {
    width: 180px;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    height: 70px;
    align-items: center;
}

.row {
    display: flex;
    gap: 12px;
    align-items: center;
    min-height: 70px; 
} 

.item {
    position: relative;
    width: 120px;
    height: 50px;
    font-size: 18px;
    align-self: center;
    text-align: center;
    line-height: 50px;
    cursor: pointer; 
    align-items: center;
}

.button {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer; 
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    margin: 3% auto;
}

.item::after {
    content: attr(hoverText);
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: max-content;
    transform: translateX(-50%) translateY(-8px);
    background-color: #333;
    color: #fff;
    border-radius: 12px;
    font-size: 18px;
    padding: 2px 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    visibility: hidden;
}

.item:hover::after {
    opacity: 1;
    visibility: visible;
}

.legend {
    position: relative;
    height: 100px;
    width: auto;
    background-position: center;
    display: flex;
    min-width: 550px;
    gap: 10px;
    margin: 50px 20px;
    font-size: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.legend > div {
    height: 100%;
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: visible;
}

.honors {
    border-bottom: royalblue 8px solid;
    background-color: darkgoldenrod;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.honors.hide {
    display: none;
    visibility: hidden;
}

.compsci {
    border-bottom: royalblue 8px solid;
    background-color: darkcyan;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.compsci.hide {
    display: none;
    visibility: hidden;
}

.maths {
    border-bottom: royalblue 8px solid;
    background-color: darkslateblue;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.maths.hide {
    display: none;
    visibility: hidden;
}

.physics {
    border-bottom: royalblue 8px solid;
    background-color: darkmagenta;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.physics.hide {
    display: none;
    visibility: hidden;
}

.electives {
    border-bottom: royalblue 8px solid;
    background-color: brown;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.electives.hide {
    display: none;
    visibility: hidden;
}

.teaching {
    border-bottom: royalblue 8px solid;
    background-color: darkgreen;
    border-radius: 12px;
    padding: 5px;
    visibility: visible;
}

.teaching.hide {
    display: none;
    visibility: hidden;
}

#teaching-legend {
    position: relative;
    animation: var(--button-time) on;
    border-bottom: royalblue 8px solid;
    background-color: darkgreen;
    border-radius: 12px;
    padding: 5px;
}

#teaching-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off;
    border-bottom: none;
    top: 4px;
}

#electives-legend {
    position: relative;
    animation: var(--button-time) on;
    border-bottom: royalblue 8px solid;
    background-color: brown;
    border-radius: 12px;
    padding: 5px;
}

#electives-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off;
    border-bottom: none;
    top: 4px;
}

#maths-legend {
    position: relative;
    animation: var(--button-time) on;
    border-bottom: royalblue 8px solid;
    background-color: darkslateblue;
    border-radius: 12px;
    padding: 5px;
}

#maths-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off;
    border-bottom: none;
    top: 4px;
}

#compsci-legend {
    position: relative;
    animation: var(--button-time) on;
    border-bottom: royalblue 8px solid;
    background-color: darkcyan;
    border-radius: 12px;
    padding: 5px;
}

#compsci-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off;
    border-bottom: none;
    top: 4px;
}

#honors-legend {
    position: relative;
    animation: var(--button-time) on;
    border-bottom: royalblue 8px solid;
    background-color: darkgoldenrod;
    border-radius: 12px;
    padding: 5px;
}

#honors-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off;
    border-bottom: none;
    top: 4px;
}

#physics-legend {
    position: relative;
    animation: var(--button-time) on ease;
    border-bottom: royalblue 8px solid;
    background-color: darkmagenta;
    border-radius: 12px;
    padding: 5px;
}

#physics-legend.off {
    position: relative;
    background-color: #333;
    animation: var(--button-time) off ease;
    border-bottom: none;
    top: 4px;
}

@keyframes off {
    0% {
        border-bottom: royalblue 8px solid;
        top: 0px;
    }
    100% {
        border-bottom: none;
        top: 4px;
    }
}

@keyframes on {
    0% {
        border-bottom: none;
        top: 4px;
    }
    100% {
        border-bottom: royalblue 8px solid;
        top: 0px;
    }
}

/*TODO: reduce legends redundancy*/